{extend name='common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
<el-card shadow="never" style="min-height:650px;">
<div v-if="search_visible" id="search" class="search">
	<el-form ref="form" size="small" :model="searchData" inline>
		<el-form-item label="用户名">
			<el-input id="username" v-model="searchData.username"  style="width:150px;" placeholder="请输入用户名"></el-input>
		</el-form-item>

		<el-form-item label="状态">
			<el-select style="width:150px" v-model="searchData.status" filterable clearable placeholder="请选择">
				<el-option key="0" label="开启" value="1"></el-option>
				<el-option key="1" label="关闭" value="0"></el-option>
			</el-select>
		</el-form-item>
		<search-tool :search_data.sync="searchData" @refesh_list="index"></search-tool>
	</el-form>
</div>
<div class="btn-group" style="margin-top:10px;margin-bottom:10px;">
	<div>
		<el-button v-for="item in button_group" :key="item.access" v-if="checkPermission(item.access,'{:implode(',',session('admin.access'))}','{:session('admin.role_id')}',[1])" :disabled="$data[item.disabled]" :type="item.color" size="mini" :icon="item.icon" @click="fn(item.clickname)">
			<span v-if="item.batch" v-text="$data['batchUpdateStatus']?'批量保存':'批量编辑'"></span>
			<span v-else v-text="item.name"></span>
		</el-button>
	</div>
	<div><table-tool :search_visible.sync="search_visible"  @refesh_list="index"></table-tool></div>
</div>
<el-table :row-class-name="rowClass" @selection-change="selection"  @row-click="handleRowClick"  row-key="membe_id"  :header-cell-style="{ background: '#eef1f6', color: '#606266' }" v-loading="loading"  ref="multipleTable" border class="eltable" :data="list"  style="width: 100%">
	<el-table-column align="center" type="selection" width="42"></el-table-column>
	<el-table-column align="center" type = '' property="membe_id" label="编号" show-overflow-tooltip width="70">
	</el-table-column>
	<el-table-column align="center"  property="pic" label="头像" show-overflow-tooltip width="">
		<template slot-scope="scope">
			<div class="demo-image__preview">
				<el-image class="table_list_pic" :src="scope.row.pic || 'https://s160.avatar.talk.zdn.vn/default'"  :preview-src-list="[scope.row.pic || 'https://s160.avatar.talk.zdn.vn/default']"></el-image>
			</div>
		</template>
	</el-table-column>

	<el-table-column align="center"  property="firstName" label="昵称" ></el-table-column>
	<el-table-column align="center"  property="user_id" label="回复" ></el-table-column>
	<el-table-column align="center"  property="user_id" label="username" ></el-table-column>
	<el-table-column align="center"  property="user_id" label="好友Uid" ></el-table-column>
	<el-table-column align="center"  property="user_id" label="手机号" ></el-table-column>
	<el-table-column align="center"  property="user_id" label="来自" ></el-table-column>
	<el-table-column align="center"  property="user_id" label="状态" ></el-table-column>
	<el-table-column align="center"  property="user_id" label="日期" ></el-table-column>
	<el-table-column align="center"  property="user_id" label="描述" ></el-table-column>
	
	<el-table-column :fixed="ismobile()?false:'right'" label="操作" align="center" width="180">
		<template slot-scope="scope">
			<div v-if="scope.row.membe_id">			 
				<el-button v-if="checkPermission('/admin/Membe/delete.html','{:implode(",",session("admin.access"))}','{:session("admin.role_id")}',[1])" size="mini" icon="el-icon-delete" type="danger" @click="del(scope.row)" >删除</el-button>
			</div>
		</template>
	</el-table-column>
</el-table>
<Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit" @pagination="index" />
</el-card>

</div>
{/block}
{block name="script"}
<script src="__PUBLIC__/assets/js/app.js"></script>
<script src="__PUBLIC__/assets/libs/xlsx/xlsx.core.min.js"></script>

<script>
new Vue({
	el: '#app',
	components:{
	},
	data: function() {
		return {
		    dialog: {
		
			},
			searchData:{},
			button_group:[			
				{name:'批量删除',color:'danger',access:'/admin/Membe/delete.html',icon:'el-icon-delete',disabled:'multiple',clickname:'del'},			
		
			],
			loading: false,
			page_data: {
				limit: 20,
				page: 1,
				total:20,
			},
			ids: [],
			single:true,
			updateInfo:{},
			multiple:true,
			search_visible:true,
			list: [],			
			exceldata:[],
			dumppage:1,
			ws:{},
			dumpshow:false,
			percentage:0,
			filename:'',
		}
	},
	methods:{
		index(){
			let param = {limit:this.page_data.limit,page:this.page_data.page}
			Object.assign(param, this.searchData)
			this.loading = true
			axios.post(base_url + '/Mtfriend/index',param).then(res => {
				if(res.data.status == 200){
					this.list = res.data.data.data
					this.page_data.total = res.data.data.total
					this.loading = false
				}else{
					this.$message.error(res.data.msg);
				}
			})
		},
		
		del(row){
			this.$confirm('确定操作吗?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
				let ids = row.membe_id ? row.membe_id : this.ids.join(',')
				axios.post(base_url + '/Mtfriend/delete',{membe_id:ids}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
						this.index()
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}).catch(() => {})
		},
		
		closedialog(){
			this.dumpshow = false
		},
		
		dialogUrl(row){
			let ids = row.membe_id ? row.membe_id : this.ids.join(',')
			let data = {}
			this.list.forEach((item,i) => {
				if(item.membe_id == ids){
					data = this.list[i]
				}
			})
			this.dialogUrlInfo = data
			this.dialog.dialogUrlDialogStatus = true
		},
		selection(selection) {
			this.ids = selection.map(item => item.membe_id)
			this.single = selection.length != 1
			this.multiple = !selection.length
		},
		handleRowClick(row, rowIndex,event){
			if(event.target.className !== 'el-input__inner'){
				this.$refs.multipleTable.toggleRowSelection(row)
			}
		},
		rowClass ({ row, rowIndex }) {
			for(let i=0;i<this.ids.length;i++) {
				if (row.membe_id === this.ids[i]) {
					return 'rowLight'
				}
			}
		},
		fn(method){
			this[method](this.ids)
		},
	},
	mounted(){
		this.index()
	},
})
</script>
{/block}
